{% extends "base.html" %}
{% load static %}

{% block title %}KevPapi{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="hero">
    <div class="container">
        <div class="plaque">
            <h1 class="name">Kevin Rahsaz</h1>
            <h2 class="job title">Software Engineer & Data Scientist</h2>

            <div class="button-group">
                <a href="{% url 'projects' %}" class="projects-button">Projects</a>
                <a href="{% url 'skills' %}" class="skills-button">Skills</a>
                <a href="{% url 'contact' %}" class="contact-button">Contact</a>
                <a href="{% static 'resume.pdf' %}" class="resume-button" target="_blank">Resume</a>
            </div>
        </div>

        <div class="social-icons">
            <a href="https://github.com/kevinrhz" target="_blank">
                <img src="{% static 'icons/github-icon.svg' %}" alt="GitHub Icon">
            </a>
            <a href="https://instagram.com/kevmo.bc" target="_blank">
                <img src="{% static 'icons/instagram-icon.svg' %}" alt="Instagram Icon">
            </a>
            <a href="https://linkedin.com/in/kevin-rahsaz-832a7420a/" target="_blank">
                <img src="{% static 'icons/linkedin-icon.svg' %}" alt="LinkedIn Icon">
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const aboutMeButton = document.getElementById('about-me-btn');
        const aboutMeSection = document.getElementById('about-me-section');

        aboutMeButton.addEventListener('click', (event) => {
            event.preventDefault();
            if (aboutMeSection) {
                aboutMeSection.scrollIntoView({
                    behavior: 'smooth',
                    block: 'start'
                });
            }
        });
    });
</script>
{% endblock %}
